img{
    width: 200px ;
}
#box{
    background-color: rgb(135, 255, 161);
    width: 800px;
    margin: auto;
}
header{
    background-color: rgba(247, 76, 170, 0.356);
}

nav {
    border: 2px solid rgb(7, 5, 6);
    background-color: rgb(248, 248, 248);
    margin: 20px;

}
.search_wrap {
    border: 2px solid rgb(7, 5, 6);
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 20px;
}

.util_wrap {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
.hero{
    background-color: rgb(248, 203, 238);
}
.hero p.slide{
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.rec{
    background-color: rgba(241, 190, 241, 0.521);
}
.list{
    background-color: rgba(206, 177, 245, 0.514);
}
footer{
    background-color: rgba(135, 91, 206, 0.521);
}
a{
    text-decoration: none;
}
ul li a{
    color: rgb(5, 5, 5);
}
div dt{
    background-color: rgb(219, 212, 212);
    border: 2px solid rgb(7, 5, 6);
}
